<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="initial-scale=1, minimum-scale=1, width=device-width" name="viewport">
		<title>Test project</title>
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
	</head>
	<body>
		<h1>Test</h1>
	</body>
</html>
	